.scroller {
  height: 7.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  /*width: 10em;*/
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  /*font-weight: bold;*/

}

.scroller span.positive {
    color: green
}

.scroller span.negative {
    color: red
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -2.4em;
  }
  50% {
    top: -4.8em;
  }
  75% {
    top: -7.2em;
  }
}